Django==5.1.7
djangorestframework
django-cors-headers
djangorestframework-simplejwt
python-dotenv
py3-validate-email

# ========== X Post ========== #
openai>=1.30.0
stability-sdk==0.4.0
tweepy

# ========== Youtube ========== #

yt-dlp
numpy
google-api-python-client
youtube-transcript-api
